.myBtn {
  height: 45px;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 15px; }
  .myBtn.myBtn--black {
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all .5s; }
    .myBtn.myBtn--black:hover {
      color: #4688f4;
      background-color: transparent;
      border: 1px solid transparent; }
  .myBtn.myBtn--blue {
    color: #fff;
    background-color: #008fe1;
    border: 1px solid #008fe1;
    transition: all .5s; }
    .myBtn.myBtn--blue:hover {
      color: #fff;
      background-color: #26abed;
      border: 1px solid #26abed; }
  .myBtn.myBtn--orange {
    color: #f96d00;
    background-color: #fff;
    border: 1px solid #f96d00;
    transition: all .5s; }
    .myBtn.myBtn--orange:hover {
      color: #fff;
      background-color: #f96d00;
      border: 1px solid #fff; }

@keyframes hover-header-link {
  0% {
    background-color: transparent; }
  30% {
    background-color: #fff; }
  100% {
    background-color: #008fe1; } }
#myHeader {
  background: #263342; }
  #myHeader .header__contain {
    width: 98%;
    margin: auto;
    padding: 20px 0; }
    #myHeader .header__contain .header__left {
      float: left; }
      #myHeader .header__contain .header__left .header__logo {
        width: auto; }
        #myHeader .header__contain .header__left .header__logo img {
          height: 30px;
          display: block; }
      #myHeader .header__contain .header__left .header__link {
        text-align: center;
        padding: 0 20px;
        margin-left: 10px;
        position: relative; }
        #myHeader .header__contain .header__left .header__link::after {
          position: absolute;
          bottom: -20px;
          left: 0;
          content: "";
          height: 4px;
          width: 0;
          background-color: #008fe1; }
        #myHeader .header__contain .header__left .header__link:hover::after {
          width: 100%;
          animation: hover-header-link 0.3s ease; }
        #myHeader .header__contain .header__left .header__link a {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          text-decoration: none; }
    #myHeader .header__contain .header__center {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(38, 51, 66, 0.9);
      padding: 10px;
      z-index: 100; }
      #myHeader .header__contain .header__center > div {
        justify-content: center; }
      #myHeader .header__contain .header__center .header__button .myBtn {
        margin: 0 5px; }
        #myHeader .header__contain .header__center .header__button .myBtn.myBtn--black {
          border: 1px solid #fff; }
    #myHeader .header__contain .header__right {
      display: none; }
      #myHeader .header__contain .header__right .header__icon {
        display: block;
        margin-left: 15px;
        position: relative; }
        #myHeader .header__contain .header__right .header__icon .header__dropdown {
          display: none;
          position: absolute;
          top: 19px;
          right: -5px;
          width: 300px;
          background-color: transparent;
          padding: 30px 0; }
          #myHeader .header__contain .header__right .header__icon .header__dropdown .dropdown__content {
            background-color: #fff;
            border-radius: 5px;
            padding: 16px;
            border: 1px solid #eee;
            position: relative; }
            #myHeader .header__contain .header__right .header__icon .header__dropdown .dropdown__content ul {
              list-style: none;
              margin: 0;
              padding: 0; }
              #myHeader .header__contain .header__right .header__icon .header__dropdown .dropdown__content ul li {
                font-size: 16px;
                line-height: 35px; }
            #myHeader .header__contain .header__right .header__icon .header__dropdown .dropdown__content::after {
              position: absolute;
              top: -6px;
              right: 6px;
              content: "";
              width: 10px;
              height: 10px;
              transform: rotate(45deg);
              border-left: 1px solid #eee;
              border-top: 1px solid #eee;
              background-color: #fff; }
        #myHeader .header__contain .header__right .header__icon:hover .header__dropdown {
          display: block; }
        #myHeader .header__contain .header__right .header__icon i {
          color: #bfbfbf;
          font-size: 20px;
          font-weight: 300;
          line-height: 50px; }

@media screen and (min-width: 768px) {
  #myHeader .header__contain {
    padding: 10px 0; }
    #myHeader .header__contain .header__left .header__logo img {
      height: 50px; }
    #myHeader .header__contain .header__left .header__link {
      margin-left: 25px; }
      #myHeader .header__contain .header__left .header__link::after {
        bottom: -10px; }
    #myHeader .header__contain .header__center {
      position: unset;
      width: auto;
      background-color: transparent;
      padding: unset;
      flex-grow: 1; }
      #myHeader .header__contain .header__center > div {
        justify-content: flex-end; }
    #myHeader .header__contain .header__right {
      display: block; } }
@media screen and (min-width: 1200px) {
  #myHeader .header__contain {
    width: 90%; } }
#why .why-container {
  background-color: #f3fcff;
  padding: 40px 0; }
  #why .why-container .why-content {
    width: 100%;
    margin: auto; }
    #why .why-container .why-content .why-title {
      text-align: center; }
      #why .why-container .why-content .why-title .title {
        color: rgba(0, 0, 0, 0.85);
        font-size: 36px;
        font-weight: 500;
        line-height: 70px; }
      #why .why-container .why-content .why-title .subtitle {
        color: #707070;
        font-size: 22px;
        font-weight: normal;
        line-height: 35px; }
    #why .why-container .why-content .why-body {
      margin-top: 40px; }
      #why .why-container .why-content .why-body .why-item {
        text-align: center;
        padding: 0 15px;
        margin-top: 30px; }
        #why .why-container .why-content .why-body .why-item img {
          height: 65px; }
        #why .why-container .why-content .why-body .why-item h2 {
          color: rgba(0, 0, 0, 0.85);
          font-size: 26px;
          font-weight: 500;
          margin: 30px 0 10px 0; }
        #why .why-container .why-content .why-body .why-item p {
          color: #707070;
          font-size: 20px;
          font-weight: normal;
          line-height: 35px;
          margin-bottom: 16px; }

@media screen and (min-width: 768px) {
  #why .why-container .why-content {
    margin-top: 100px; } }
@media screen and (min-width: 1400px) {
  #why .why-container .why-content {
    width: 90%;
    margin-top: 100px; } }
#numbers {
  background: url(../img/img_background_static.png) no-repeat bottom;
  background-size: cover; }
  #numbers .numbers_bg {
    background-color: rgba(38, 51, 66, 0.9); }
    #numbers .numbers_bg .numbers__content {
      width: 100%;
      padding: 30px 0; }
      #numbers .numbers_bg .numbers__content .numbers__image {
        position: relative;
        height: 340px; }
        #numbers .numbers_bg .numbers__content .numbers__image img {
          position: absolute;
          vertical-align: middle; }
          #numbers .numbers_bg .numbers__content .numbers__image img.img--first {
            right: 30px;
            width: 300px;
            top: 30%; }
          #numbers .numbers_bg .numbers__content .numbers__image img.img--second {
            left: 30px;
            top: 30px;
            width: 180px; }
      #numbers .numbers_bg .numbers__content .numbers__info .numbers__item {
        margin-bottom: 30px; }
        #numbers .numbers_bg .numbers__content .numbers__info .numbers__item h1 {
          color: #04b3f9;
          font-size: 36px;
          font-weight: 500;
          margin-bottom: 20px; }
        #numbers .numbers_bg .numbers__content .numbers__info .numbers__item h4 {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 10px; }
        #numbers .numbers_bg .numbers__content .numbers__info .numbers__item p {
          color: rgba(255, 255, 255, 0.7);
          font-size: 16px;
          font-weight: 500;
          text-align: justify;
          margin-bottom: 15px; }

@media screen and (min-width: 768px) {
  #numbers .numbers_bg .numbers__content {
    padding: 80px 0; }
    #numbers .numbers_bg .numbers__content .numbers__image img.img--first {
      width: 100%;
      right: 0px;
      top: 20%; }
    #numbers .numbers_bg .numbers__content .numbers__image img.img--second {
      width: 40%;
      top: 30%; } }
#orange .orange__bg {
  background-color: #f96d00;
  padding: 30px 0 60px; }
  #orange .orange__bg .orange__container .orange__image {
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
  #orange .orange__bg .orange__container .orange__center h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0; }
  #orange .orange__bg .orange__container .orange__center p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 16px; }

@media screen and (min-width: 720px) {
  #orange .orange__bg {
    padding: 0; }
    #orange .orange__bg .orange__container .orange__center {
      text-align: left; } }

/*# sourceMappingURL=style.css.map */
