// Color
$color-0: transparent;
$color-white-1: #fff;

$color-black-1: #000;
$color-black-2: #333333;
$color-black-3: #263342;
$color-black-4: rgba(38, 51, 66, 0.9);
$color-black-5: rgba(0, 0, 0, 0.85);
$color-black-6: rgba(255, 255, 255, 0.7);

$color-grey-1: #bfbfbf;
$color-grey-2: #707070;
$color-grey-3: #dddddd;
$color-grey-4: #eee;

$color-blue-0: #e6faff;
$color-blue-1: #008fe1;
$color-blue-2: #4688f4;
$color-blue-3: #26abed;
$color-blue-4: #0070ba;
$color-blue-5: #e6faff;
$color-blue-6: #04b3f9;
$color-green-1: #2bc71f;
$color-green-2: #f3fcff;
$color-red-1: #f95f48;
$color-orange-1: #f96d00;

// Font size
$fs-0: 16px; 
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 18px;
$fs-4: 20px;
$fs-5: 26px;
$fs-6: 30px;
$fs-7: 46px;
$fs-8: 32px;
$fs-9: 60px;
$fs-10: 70px;
$fs-11: 36px;
$fs-12: 22px;


// Font Weight
$fw-0: normal;
$fw-1: 300;
$fw-2: 400;
$fw-3: 500;
$fw-4: 600;
$fw-5: bold;
$fw-6: bolder;
$fw-7: lighter;

// Letter Spacing
$ls-0: normal;
$ls-1: 0.5px;
$ls-2: 1px;
$ls-3: 2px;

// border radius
$br-1: 5px;

// Line height
$lh-1: 35px;


// Image url
$img-url: "./img";
