#footer {
    .footer__container {
        width: 80%;
        margin: 0 auto;
        padding: 30px 0;

        .footer__top {

            .footer__col1 {
                img {
                    margin-bottom: 27px;
                    height: 85px;
                }

                i {
                    @include text ($color-grey-5, $fs-12, $fw-0);
                }

                span {
                    // margin-bottom: 17px;
                    margin-left: 14px;
                    line-height: $fs-5;
                    display: inline-block;
                    font-size: $fs-0;
                    letter-spacing: $ls-1;
                }

                .footer__social {
                    a {
                        margin-left: 10px;

                        img {
                            width: 64px;
                            height: 64px;
                            margin: 0;
                        }
                    }
                }
            }

            .footer__col2,
            .footer__col3,
            .footer__col4 {
                margin: 20px 0;
                padding-left: 40px;
                p {
                    margin-bottom: 12px;
                }

                h5 {

                    @include text ($color-black-2, $fs-4, $fw-5);
                    margin-bottom: 20px;
                }

                a {
                    @include text (gray, $fs-0, $fw-0);
                    text-decoration: none;
                    margin-bottom: 10px;
                }
            }
        }

        .footer__bottom {
            margin-top: 40px;
            border-top: $color-grey-4 solid 1px;
            padding: 27px 0;

            .footer__item {
                margin-bottom: 20px;
                text-align: center;
                span {
                    display: block;
                    @include text ($color-black-2, $fs-2, $fw-0);
                }
            }

        }
    }
}

@media screen and (min-width: 576px) {
    #footer {
        .footer__container {

            .footer__top {

                .footer__col1 {
                    img {}

                    i {}

                    span {}

                    .footer__social {
                        a {
                            img {}
                        }
                    }
                }

                .footer__col2,
                .footer__col3,
                .footer__col4 {
                    h5 {}

                    a {}
                }
            }
            .footer__bottom {
                .footer__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: justify;
                    .span {
                        display: inline-block;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 992px) {
    #footer {
        .footer__container {
            width: 95%;

            .footer__top {


                .footer__col1 {
                    img {}

                    i {}

                    span {}

                    .footer__social {
                        a {
                            img {}
                        }
                    }
                }

                .footer__col2,
                .footer__col3,
                .footer__col4 {
                    h5 {}

                    a {}
                }
            }

            .footer__bottom {
                .footer__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: justify;
                    .span {
                        display: inline-block;
                    }
                }
            }
        }
    }
}