#myImage {
    position: relative;
    height: 200px;
    .myImage {
        width: 100%;
        position: absolute;
        background: url('../../img/img_background_5trip.6ad1787f.png') repeat-x bottom;
    }
}

@media screen and (min-width: 768px) {
    #myImage {
        height: 650px;
        .myImage {
            height: 650px;
        }
    }
}