#numbers {
    background: url(../img/img_background_static.png) no-repeat bottom;
    background-size: cover;
    .numbers_bg {
        background-color: $color-black-4;
        .numbers__content {
            width: 100%;
            padding: 30px 0;
            .numbers__image {
                position: relative;
                height: 340px;
                img {
                    position: absolute;
                    vertical-align: middle;
                    &.img--first {
                        right: 30px;
                        width: 300px;
                        top: 30%;
                    }

                    &.img--second {
                        left: 30px;
                        top: 30px;
                        width: 180px;
                    }
                }
            }
            .numbers__info {
                .numbers__item {
                    margin-bottom: 30px;
                    h1 {
                        @include text ($color-blue-6, $fs-11, $fw-3);
                        margin-bottom: 20px;
                    }
                    h4 {
                        @include text ($color-white-1, $fs-4, $fw-3);
                        margin-bottom: 10px;
                    }
                    p {
                        @include text ($color-black-6, $fs-0, $fw-3);
                        text-align: justify;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    #numbers {
        .numbers_bg {
            .numbers__content {
                padding: 80px 0;
                .numbers__image {
                    img {
                        &.img--first {
                            width: 100%;
                            right: 0px;
                            top: 20%;
                        }
                        &.img--second {
                            width: 40%;
                            top:30%;
                        }
                    }
                }
                .numbers__info {
                    .numbers__item {
                       
                    }
                }
            }
        }
    }
}